<div id="header-container">
  <div class="hor-container">
    <div class="ver-container">
      <p class="title">Algorithms</p>
      <p class="title">Visualizer</p>
    </div>
    <button mat-button (click)="openInfoDialog()">
      <mat-icon id="help-button">help_outline</mat-icon>
    </button>
  </div>
  <div class="hor-container" id="action-container">

    <div matTooltip="set the animation speed"
         matTooltipShowDelay="500">
      <mat-slider [(ngModel)]="UserController.animationSpeed"
                  value="1"
                  min="1"
                  max="15"
                  step="1">
      </mat-slider>
      <mat-label>{{UserController.animationSpeed}}</mat-label>
    </div>

    <mat-divider vertical="true" class="action-divider"></mat-divider>

    <button mat-raised-button
            (click)="BFS()"
            matTooltip="run the Breadth-First-Search"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      BFS
    </button>
  </div>
</div>
