<div id="header-container">
  <div class="hor-container">
    <div class="ver-container">
      <p class="title">Algorithms</p>
      <p class="title">Visualizer</p>
    </div>
    <button mat-button (click)="openInfoDialog()">
      <mat-icon id="help-button">help_outline</mat-icon>
    </button>
  </div>
  <div class="hor-container" id="action-container">
    <button mat-raised-button
            (click)="AlgorithmsController.runAlgorithm()"
            matTooltip="execute the selected algorithm"
            matTooltipShowDelay="350"
            class="algo-button">
      {{AlgorithmsController.selectedAlgorithm}}
    </button>
    <mat-form-field appearance="fill"
                    class="form-field"
                    matTooltip="Select a search algorithm"
                    matTooltipShowDelay="350">
      <mat-label class="inner-form-field">Search Algorithm</mat-label>
      <mat-select [(ngModel)]="AlgorithmsController.selectedAlgorithm"
                  name="gridGen"
                  class="inner-form-field"
                  panelClass="select-panel">
        <mat-option *ngFor="let op of AlgorithmsController.algorithmOptions" [value]="op" class="select-option" >
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div matTooltip="set the animation speed"
         matTooltipShowDelay="350">
      <div class="hor-container" style="height: fit-content; justify-content: center; color: floralwhite">
        animation speed
      </div>
      <mat-slider [(ngModel)]="UserController.animationSpeed"
                  style="height: fit-content; margin-top: 0; top: -18px; width: 100%;"
                  id="slider"
                  value="1"
                  min="1"
                  max="20"
                  color="warn"
                  step="1">
      </mat-slider>
    </div>

    <mat-divider vertical="true" class="action-divider"></mat-divider>

    <div class="hor-container">
      <mat-form-field appearance="fill"
                      class="form-field"
                      matTooltip="choose a grid generation algorithm (click again to regenerate)"
                      matTooltipShowDelay="350">
        <mat-label class="inner-form-field">Grid Generation</mat-label>
        <mat-select [(ngModel)]="GridController.selectedGridGen"
                    name="gridGen"
                    class="inner-form-field"
                    panelClass="select-panel">
          <mat-option *ngFor="let op of GridController.gridGenOptions"
                      [value]="op" class="select-option"
                      (click)="GridController.generateGrid()">
            {{op}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider vertical="true" class="action-divider"></mat-divider>

    <button mat-button
            (click)="openDeleteDialog()"
            matTooltip="delete the whole grid"
            [matTooltipShowDelay]="350"
            id="delete-all-button">
      <mat-icon>delete_forever</mat-icon>
    </button>

  </div>
</div>
