header {
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    position: 0;
}

.logo {
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}