.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #505050;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-family: Monaco, "Lucida Console", monospace;
  font-weight: bolder;
  font-size: 18px;
  color: #ffd600;
}
