<div id="header-container">
  <div class="ver-container">
    <p class="title">Algorithms</p>
    <p class="title">Visualizer</p>
  </div>
  <div class="hor-container" id="action-container">
    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceStart)"
            [ngClass]="userController.currentUseMode === useMode.PlaceStart ? 'selected-action' : ''"
            matTooltip="place the starting point"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>my_location</mat-icon>
    </button>
    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceEnd)"
            [ngClass]="userController.currentUseMode === useMode.PlaceEnd ? 'selected-action' : ''"
            matTooltip="place the finishing point"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>place</mat-icon>
    </button>

    <mat-divider vertical="true" id="action-divider"></mat-divider>

    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceWall)"
            [ngClass]="userController.currentUseMode === useMode.PlaceWall ? 'selected-action' : ''"
            matTooltip="place a wall"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>error</mat-icon>
    </button>
  </div>
</div>
