$yellow-t : #ffd600;

#body-container {
  display: grid;
  justify-content: center;
  height: 100%;
  background-color: #4f4f4f;
  border-radius: 10px;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.grid-container {
  border-radius: 10px;
  margin: 5px;
}

.cell {
  background-color: #4f4f4f;
  color: white;
  height: 21px;
  width: 21px;
  border: 1px solid #545454;
  padding: 0;
}

.inner-cell {
  height: 100%;
  width: 100%;
  border-radius: 2px;
/*
  animation: create;
  animation-timing-function: ease;
  animation-duration: 0.5s;
 */
}

.inner-cell:hover {
  border-radius: 3px;
}

.inner-cell > mat-icon {
  font-size: 21px;
  color: #2a2a2a;
  margin: auto;
}

.cell:hover {
  background-color: rgba(255, 214, 0, 0);
  border: 1px solid #000000;
  border-radius: 4px;
  //transition: 0.2s;
  //transform: scale(1.2);
}

.cell-selected {
  background-color: $yellow-t;
}

.cell-start-end {
  background-color: #9c7bff;
}

.cell-wall {
  background-color: #3b3b3b;
}

.cell-highlighted {
  background-color: aquamarine;
}

.cell-path {
  background-color: #3f51b5;
}

@keyframes create {
  0% { transform: scale(0)}
  100% {transform: scale(1)}
}
