$yellow-t : #ffd600;

#body-container {
  display: grid;
  justify-content: center;
  height: 100%;
  background-color: #4f4f4f;
  border-radius: 10px;
}

.cell-row {
  display: flex;
  flex-direction: row;
}

.grid-container {
  border-radius: 10px;
  margin: 5px;
}

.cell {
  background-color: #4f4f4f;
  color: white;
  height: 21px;
  width: 21px;
  border: 1px solid #545454
}

.cell:hover {
  background-color: rgba(255, 214, 0, 0);
  border: 1px solid #000000;
  border-radius: 4px;
  transition: 0.2s;
  transform: scale(1.2);
}

.cell-selected {
  background-color: $yellow-t;
}

.cell-selected:hover {
  background-color: $yellow-t;
}

.cell-start {
  background-color: #7373ff;
}

.cell-start:hover {
  background-color: #7373ff;
}
