<div id="body-container">
  <table class="grid-container">
    <tr *ngFor="let row of GridController.getCellArray(); let idx_v = index" class="cell-row">
      <td *ngFor="let j of row; let idx_h = index"
          (mousedown)="mouseDown(idx_h, idx_v)"
          (mouseup)="this.isMouseDown = false"
          (mouseenter)="handleMouseAction(idx_h, idx_v)"
          draggable="false"
          class="cell">
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.Selected)" class="inner-cell cell-selected"></div>
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.Start)" class="inner-cell cell-start-end">
          <mat-icon>my_location</mat-icon>
        </div>
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.End)" class="inner-cell cell-start-end">
          <mat-icon>place</mat-icon>
        </div>
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.Wall)" class="inner-cell cell-wall"></div>
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.Highlighted)" class="inner-cell cell-highlighted">
          <div *ngIf="true" style="height: 100%; width: 100%; color: black">
            <mat-icon *ngIf="GridController.getCellDir(idx_h, idx_v) === Direction.Left">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="GridController.getCellDir(idx_h, idx_v) === Direction.Right">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="GridController.getCellDir(idx_h, idx_v) === Direction.Up">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="GridController.getCellDir(idx_h, idx_v) === Direction.Down">keyboard_arrow_down</mat-icon>
          </div>
          <div *ngIf="false">
            <p>{{GridController.getCellAge(idx_h, idx_v)}}</p>
          </div>
        </div>
        <div *ngIf="GridController.cellEquals(idx_h,idx_v, cellTypes.Path)" class="inner-cell cell-path"></div>
      </td>
    </tr>
  </table>
</div>
