@import "src/colors.scss";

$inner-padding: 10px;

#header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  padding: $inner-padding;
  border-radius: 10px 10px 10px 10px;
  background-color: $gray-background;
  justify-content: space-between;
}

#action-container {
  height: 100%;
}

#action-container > button {
  transition: 0.5s;
}

@keyframes actionHover {
  0% { transform: scale(1)}
  50% { transform: scale(1.1)}
  100% { transform: scale(1)}
}

button:hover {
  animation-name: actionHover;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

#delete-all-button {
  color: #ff2300;
}

.action-divider {
  background-color: $darker-gray-color;
}

.ver-container {
  display: flex;
  flex-direction: column;
}

.hor-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: visible;
  overflow-y: visible;
}

.title {
  margin: 0;
  font-family: Monaco, "Lucida Console", monospace;
  font-weight: bolder;
  font-size: 18px;
  color: $yellow-color;
}

.selected-action {
  background: $orange-color;
  background: linear-gradient(45deg, $orange-color 29%, $yellow-color 100%);
}
