.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90vw;
  height: 90vh;
}

$header-height: 75px;

.header {
  height: $header-height;
}

.body {
  height: 100%;
}
