#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: fit-content;
}

.body {
  flex: 1;
}
