
.sidebar {
    width: 12%;
    min-width: 150px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.container {
    margin: 0px 10px 10px 10px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 100%;
}

hr {
    width: 100%;
}