<div id="dialog-container">
  <h2 mat-dialog-title>Algorithms Visualizer Guide</h2>
  <mat-dialog-content class="mat-typography">
    <h3>Quick Start Guide</h3>
    <ul>
      <li>Place a starting point <mat-icon>my_location</mat-icon></li>
      <li>Place an ending point <mat-icon>place</mat-icon></li>
      <li>Choose an pathfinding algorithm to run and click <b>START</b></li>
      <li>Watch the algorithm search a path from the starting to the ending point</li>
    </ul>

    <mat-divider style="margin-bottom: 10px"></mat-divider>

    <h3>About this project</h3>
    <p>Algorithms Visualizer is a fun website, that I developed as a personal project using <i>Angular</i>.
      It's inspired by <a href="https://youtu.be/n4t_-NjY_Sg?t=183">Clément Mihailescu</a>'s project featured
      in his YouTube video "The Projects That Got Me Into Google [...]" </p>

    <h3>Features</h3>
    <p>Visualization of pathfinding algorithms is very cool, so I (plan to) implement multiple algorithms
      such aus Breadth-First-Search, Depth-First-Search, Dijkstra's Algorithm, Swarm Algorithms, ... .<br>
      Therefore you can edit the grid by placing a STARTING POINT, an ENDING POINT and WALLS (which cannot
      be crossed by the searching algorithm. Furthermore a grid generator can randomly fill the grid or
      generate a maze.<br>
      The STARTING and ENDING POINT are also draggable, which means you can move them to see the algorithm
      algorithm update its path in real time.</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true">Ok</button>
  </mat-dialog-actions>
</div>
