<div id="dialog-container">
  <h2 mat-dialog-title>Algorithms Visualizer Guide</h2>
  <mat-dialog-content class="mat-typography">
    <h3>User Guide</h3>
    <ul>
      <li>Click on empty (or highlighted / path) cells to place walls</li>
      <li>Click on wall cells to remove the walls</li>
      <li>Drag and drop the starting / ending point</li>
      <li>Choose an pathfinding algorithm to run and click <b>START</b></li>
      <li>Watch the algorithm search a path from the starting to the ending point</li>
    </ul>

    <mat-divider style="margin-bottom: 10px"></mat-divider>

    <h3>About this project</h3>
    <p>Algorithms Visualizer is a fun website, that I developed as a personal project using <i>Angular</i>.
      It's inspired by <a href="https://youtu.be/n4t_-NjY_Sg?t=183">Clément Mihailescu</a>'s project featured
      in his YouTube video "The Projects That Got Me Into Google [...]" </p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="true">Ok</button>
  </mat-dialog-actions>
</div>
