//COLOR PALETTE
$yellow-color: #ffd600;
$orange-color: #FF8800;
$cyan-color: #88ffe4;
$blue-color: #69a3ff;
$purple-color: #9489fb;
$dark-gray-color: #3b3b3b;
$darker-gray-color: #494949;

//BACKGROUND
$gray-background: #505050;
