/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: rgba(0,0,0,0.8)
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


$yellow-color: #ffd600;
$main-border-radius: 10px;

.yellow-button {
  background-color: $yellow-color;
}
