/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: rgba(0,0,0,0.8)
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$yellow-color: #ffd600;
$orange-color: #FF8800;
$cyan-color: #16E0BD;
$blue-color: #78C3FB;
$purple-color: #89A6FB;


$main-border-radius: 10px;

.yellow-button {
  background-color: $yellow-color;
}

.dialog-css .mat-dialog-container {
  background-color: #4f4f4f;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}
