<div id="header-container">
  <div class="hor-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label class="inner-form-field">Grid Generation</mat-label>
      <mat-select [(ngModel)]="GridController.selectedGridGen"
                  name="gridGen"
                  class="inner-form-field"
                  panelClass="select-panel">
        <mat-option *ngFor="let op of GridController.gridGenOptions" [value]="op" class="select-option" >
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            (click)="GridController.generateGrid()"
            matTooltip="choose a grid generation algorithm"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      generate
    </button>
  </div>
  <div class="hor-container">

    <button mat-button
            (click)="openDeleteDialog()"
            matTooltip="delete the whole grid"
            [matTooltipShowDelay]="500"
            id="delete-all-button">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
