<div id="header-container">
  <div class="hor-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label class="inner-form-field">Grid Generation</mat-label>
      <mat-select [(ngModel)]="GridController.selectedGridGen"
                  name="gridGen"
                  class="inner-form-field"
                  panelClass="select-panel">
        <mat-option *ngFor="let op of GridController.gridGenOptions" [value]="op" class="select-option" >
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button
            (click)="GridController.generateGrid()"
            matTooltip="choose a grid generation algorithm"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      generate
    </button>
  </div>
  <div class="hor-container">

    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceStart)"
            [ngClass]="UserController.currentUseMode === useMode.PlaceStart ? 'selected-action' : ''"
            matTooltip="place the starting point"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>my_location</mat-icon>
    </button>
    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceEnd)"
            [ngClass]="UserController.currentUseMode === useMode.PlaceEnd ? 'selected-action' : ''"
            matTooltip="place the ending point"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>place</mat-icon>
    </button>

    <button mat-raised-button
            (click)="changeUseMode(useMode.PlaceWall)"
            [ngClass]="UserController.currentUseMode === useMode.PlaceWall ? 'selected-action' : ''"
            matTooltip="place a wall"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>account_balance</mat-icon>
    </button>

    <mat-divider vertical="true" class="action-divider"></mat-divider>

    <button mat-raised-button
            (click)="changeUseMode(useMode.None)"
            [ngClass]="UserController.currentUseMode === useMode.None ? 'selected-action' : ''"
            matTooltip="delete a tile"
            [matTooltipShowDelay]="500"
            class="yellow-button">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button
            (click)="openDeleteDialog()"
            matTooltip="delete the whole grid"
            [matTooltipShowDelay]="500"
            id="delete-all-button">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
